name: Release

on:
  release:
    types:
      - published

jobs:
  release:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Prepare release
        uses: lando/prepare-release-action@v3
        with:
          sync-token: ${{ secrets.RTFM47_COAXIUM_INJECTOR }}
          sync-email: rtfm47@lando.dev
          sync-username: rtfm-47
          sync-tags: v5
